@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
    margin: auto auto  auto;
    height: fit-content;
    text-align: left;
    background-color: white;
}
.fade-in {
    opacity: 1;
    display: block;
}
.fade-out {
    display: none;
    opacity: 0;
}
.center {
    text-align: center;
}
footer {
    left: 1%;
    bottom: 1%;
    position: fixed;
}
.footer-link {
    color: #f4a261;
    font-weight: bold;
    transition: all 0.2s;
}